<div class="m-6 md:m-12 lg:m-24 p-6 md:p-8 lg:p-12 mt-36 border-7 border-[#b1aa88] rounded-[28px] bg-[#c4c4c4]" style="border: 7px solid #b1aa88; margin-top: 145px;">
  <div class="flex flex-col lg:flex-row gap-8">
    <div>
      <h1
        class="text-white jersey-10-regular hovering"
        style="font-size: 47px;"
      >
        Government
      </h1>

      <div style="width: 100%; max-width: 200px; margin: 0 auto;">
        <%= image_tag 'government.png' %>
      </div>
    </div>

    <div>
      <div class="goals-beliefs" style="padding: 20px 45px;">
        <h2 style="font-size: 32px; color: #3e3e3e;">Goals</h2>
        <ul style="list-style: none; padding: 0;">
          <li>To continuously develop innovative, scalable software solutions.</li>
          <li>To foster a culture of collaboration, innovation, and excellence in teams.</li>
          <li>To approach challenges with creativity and deliver impactful, long-lasting results.</li>
        </ul>

        <h2 style="font-size: 32px; color: #3e3e3e; margin-top: 16px;">Beliefs</h2>
        <ul style="list-style: none; padding: 0;">
          <li>Clear responsibilities and expectations empower creativity and innovation.</li>
          <li>Building the right-sized solutions ensures effective problem-solving and scalability.</li>
          <li>Strong teams thrive in environments that value humility, mutual respect, and open communication.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
